.category-step > .category-item:first-child { display: none !important }

/* Google Translate widget */
.goog-te-gadget-icon {
    margin-top: -2px;
    background: url(https://flagicons.lipis.dev/flags/4x3/gb.svg) no-repeat center !important
}
.goog-te-gadget-simple span {
    height: 20px;
    margin-top: 5px
}
#sb_google_translate .goog-te-gadget-simple .goog-te-menu-value span:first-child { display: none }

/* End Google Translate widget */

/* Costum styles */

/* Reset styles */
.container-fluid { padding-inline: 20px !important }
.column { max-width: 1024px !important }
.tab.tab-col .cap.short { height: initial !important }
.tab.tab-col .cap { margin-bottom: 20px }
.tab.tab-col .txt.short { display: none !important }
.modal-dialog { width: 300px !important }

/* End reset style */

/* Header */
#header { box-shadow: initial }
#header .row {
    display: flex;
    align-items: center
}
#header .brand.company-logo-only .logo { max-width: 200px !important }
#header .brand .logo a img { max-height: 50px !important }
#header .nav-wrapper #sb_menu { margin-top: 8px }
#header .nav-wrapper #sb_menu .nav li a {
    padding-bottom: 0px;
    border-bottom: 1px solid;
    border-bottom-color: transparent
}
#header .nav-wrapper .items-wrapper { min-width: 70px }
#main-buttons { display: none !important }
#sb-timeline #steps-nav #menu-active-bg { width: calc(50% - 498px) }

/* Subheader */
#booking-result-view #booking-result-tabs { box-shadow: initial }
#booking-result-view #booking-result-tabs .tabs-container { padding-block: 20px }
#booking-result-view #booking-result-tabs .tabs-container .tab-link a {
    padding-bottom: 0px;
    border-bottom: 1px solid;
    border-bottom-color: transparent
}

/* End subheader */

/* Mobile menu */
#header .nav-wrapper.active.translate-enabled {
    top: 60px !important;
    max-width: 320px !important;
    margin: 30px 20px 30px auto !important
}
#header .nav-wrapper.active.translate-enabled #sb_menu .nav li { margin: 0 auto 20px 20px !important }

/* End mobile menu */
/* End header */

/* Services grid */
.tab.tab-col .excerpt-info .preloader { padding-bottom: 80% }
#sb_service_step_container .item .tab .tab-pd .content { display: flex }
#sb-timeline #steps #steps-content #sb_booking_content .service-item .bar-service { width: auto !important }
#sb-timeline #steps #steps-content #sb_booking_content .service-item .bar-service .time { display: none }
#sb_service_step_container .service-item .bar-service .d-flex {
    justify-content: flex-end !important;
    min-width: 100px;
    margin-bottom: 0px !important
}
#sb-timeline #steps #steps-content #sb_booking_content .service-item .bar-service .badge { margin-top: 0 }

/* End services grid */

/* Booking */
#sb_sidebar_container .item .tab .tab-pd { padding: 20px }
#sb_sidebar_container .item .tab .tab-pd .content { display: block }
#sb_sidebar_container .service-item .bar-service .d-flex {
    justify-content: flex-end !important;
    margin-bottom: 0px !important
}
#sb-timeline #steps #steps-content #sb_booking_content .provider-item .name { height: initial; margin-bottom: 0 }
#sb-timeline #steps #steps-content #sb_booking_content .datetime-step #sb_timeview_container .timeline-wrapper #sb_time_flexible_container:before { display: none }
.sb_time_flexible_hour_container { display: flex }
#sb-timeline #steps #steps-content #sb_booking_content .datetime-step #sb_timeview_container .timeline-wrapper #sb_time_flexible_container .hour-line .sb_time_flexible_hour_container .time-slot { max-width: initial }

#booking-result-view #booking-result-tabs .tabs-container { text-align: right }

/* End booking */

/* Invoice pay page */
#sb_invoice_container .table-responsive { margin-inline: 20px }
.invoice-pay-page .promo-code-input .custom-form .btn { max-width: 240px !important }
.invoice-pay-page .info .total { text-align: right }
.payment-modal #sb_payment_systems_container, .payment-modal .payment-system-container { justify-content: flex-end !important }

/* End Invoice pay page */

/* Footer */
#footer .scroll-top-button { line-height: 41px }

/* End footer */

/* End styles */
